input {
  width: 60%;
}

button {
  width: 40%;
  background-color: green;
}

.input-container {
  width: 60%;
  background-color: brown;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
}
